<section id="answer-box">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">和暦</h3>
    </div>
    <div class="panel-body">
      <% if @years.nil? %>
        　
      <% else %>
        <%= @years[0].name_of_era %>
        <%= @years[0].year_of_the_era %>
        年
      <% end %>
    </div>
  </div>
</section>

<section id="info-box">
  <% if notice %>
    <div class="alert alert-success"><p id="notice"><%= notice %></p></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger"><p id="alert"><%= alert %></p></div>
  <% end %>
  <% if notice.nil? && alert.nil? %>
    <div class="alert alert-info">
      <p id="info">西暦を入力して「変換」をクリック</p>
    </div>
  <% end %>
</section>
