<% provide(:title, 'About') %>

<div class="container">
  <section class="main">
    <div class="row">
      <aside class="col-md-3">
      </aside>
      <article class="col-md-9">
        <header class="page-header">
          <h1>このサイトについて</h1>
        </header>

        <h3>和暦変換</h3>

        <p>
          このサイトは、西暦から和暦を調べる単機能のウェブアプリケーションです。
        </p>

        <h3>公開している情報</h3>

        <p>
          このサイトで公開している情報は、主に<a href="http://ja.wikipedia.org/wiki/%E5%85%83%E5%8F%B7%E4%B8%80%E8%A6%A7_%28%E6%97%A5%E6%9C%AC%29">Wikipediaの「元号一覧(日本)」</a>の情報を参考に、サイト作成者が独自に編集したデータを使用しています。
        </p>

        <h3>サイト作成の目的</h3>

        <p>
          このサイトは、<a href="http://rubyonrails.org/">Ruby on Rails</a>によるウェブシステム開発の学習を目的として作成したものです。記載されている情報の正確性は保証いたしませんのでご注意ください。
        </p>
      </article>
    </div>
  </section>
</div>
