<section class="main" id="top-page">

  <div class="jumbotron">

    <div class="container">
      <i class="fa fa-calendar"></i>
      <h1>和暦変換</h1>
      <p>西暦から和暦を調べる単機能ウェブアプリ</p>
    </div>

  </div>

  <div class="container">

    <section id="query-box">
      <small>1868〜2014の範囲で西暦を入力してください</small>
      <form action="/search" method="get" class="form-inline" role="form">
        <div class="form-group">
          <label for"search-box" class="sr-only control-label">西暦</label>
          <input type="number" name="q" class="form-control"
          placeholder="西暦を入力" id="search-box"
          value="<%= params[:q] %>"autofocus>
        </div>
        <button type="submit" class="btn btn-default">変換</button>
      </form>
    </section>

    <%= render 'result', notice: @notice, alert: @alert, object: @years %>

  </div>

</section>
