/* universal */

img {
  @extend .img-responsive;
  margin: 0 auto;
}

section.main {
  margin-top: 40px;
}

/* jumbotron */

div.jumbotron {
  padding-bottom: 60px;
  margin-bottom: 20px;

  h1 {
    font-family: 'ヒラギノ明朝 Pro W6', "Hiragino Mincho Pro", "HGS明朝E", "MS P明朝", serif;
    margin-bottom: 20px;
  }

  p {
    font-family: 'ヒラギノ明朝 Pro W6', "Hiragino Mincho Pro", "HGS明朝E", "MS P明朝", serif;
  }
}

/* site-footer */
footer#site-footer {
  text-align: center;
  margin-top: 20px;
}

section#query-box {
  margin-bottom: 20px;
}

section#info-box {
  margin: 0 auto;
  width: 40%;
}

section#answer-box {
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

/* top page */
section#top-page {
  text-align: center;
}

/* article */
article {
  header.page-header {
    h1 {
      font-family: 'ヒラギノ明朝 Pro W6', "Hiragino Mincho Pro", "HGS明朝E", "MS P明朝", serif;
    }
  }
}

