<div class="container">
  <footer id="site-footer">
    <p>
      Copyright &copy; <%= link_to 'prime factor', my_blog_path %>,
      2014 All Rights Reserved
    </p>

    <ul id="social-buttons">
      <li>
        <%= hatena_bookmark_button_tag %>
      </li>
      <li>
        <%= twitter_button_tag %>
      </li>
    </div>
  </footer>
</div>
